torch
torchvision
torchaudio
tqdm
pandas
numpy
matplotlib
seaborn
pyyaml
opencv-python
Pillow
streamlit
jupyterlab
scikit-learn
scikit-image
sklearn
ffmpeg
pytest
pytest-dependency
pre-commit
dvc[all]
apache-airflow
mlflow>=1.22.0
pyngrok