torch
torchvision
torchaudio
tqdm
pandas
numpy
matplotlib
seaborn
pyyaml
opencv-python
Pillow
streamlit
jupyterlab
scikit-learn
sklearn
pytest
pytest-dependency
pre-commit
dvc
apache-airflow
mlflow>=1.22.0
pyngrok